<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="profile">
        <div class="profile-pic">
           <% avatar_url = current_user.default_photo_url %>
            <%= image_tag avatar_url %>
        </div>
        <div class="name">
          <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
          <br>
          <p><%= current_user.username %></p>
        </div>
        <div class="form">
          <%= simple_form_for @user, url: profile_path do |f| %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.submit "Change profile picture", class: "btn btn-profile" %>
          <% end %>
        </div>

        <div class="credit-card">
          <% if current_user.credit_card %>
            <span id = "card-number">
              xxxx xxxx xxxx <%= current_user.credit_card["last4"] %>
            </span>
            <br>
            <span id="expiration">
              Exp date: <%= current_user.credit_card["exp_month"] %>/<%= current_user.credit_card["exp_year"] %>
            </span>
        </div>
          <% if current_user.credit_card["brand"] == "Visa" %>
            <%= image_tag("cards/Visa-icon.png", id:"card-icon") %>
          <% elsif current_user.credit_card["brand"] == "Mastercard" %>
             <%= image_tag("cards/Master-Card--icon.png", id:"card-icon") %>
          <% elsif current_user.credit_card["brand"] == "Discover" %>
            <%= image_tag("cards/Discover-icon.ico", id:"card-icon") %>
          <% elsif current_user.credit_card["brand"] == "AmericanExpress" %>
            <%= image_tag("cards/American-Express-icon.png", id:"card-icon") %>
          <% else %>
            <%= image_tag("cards/default-card.png", id:"card-icon") %>
          <% end %>
          <%= form_tag creditcard_path do %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My CC"
              data-email="<%= current_user.email %>"
              data-amount="0"
              data-currency="EUR">
            </script>
            <script>
              // Hide default stripe button, be careful there if you
              // have more than 1 button of that class
              document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
            </script>
            <button type="submit" class="btn btn-profile">Change my card</button>
          <% end %>
        <% else %>
          <%= form_tag creditcard_path do %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My CC"
              data-email="<%= current_user.email %>"
              data-amount="0"
              data-currency="EUR">
            </script>
            <script>
              // Hide default stripe button, be careful there if you
              // have more than 1 button of that class
              document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
            </script>
            <button type="submit" class="btn btn-profile">Add my card</button>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="profile">
  <div class="row">
    <div class="col-xs-12">
      <div id="bio">
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/180x180" %>
        <%= image_tag avatar_url %>
      </div>
      <div id="summary">
        <h2 id="intro">Hey, I'm <%= current_user.first_name %>...</h2>
        <p>...and I have <%= current_user.user_projects.count %> beautiful PiggyBnks:</p>
        <ul class="list-unstyled">
          <% current_user.user_projects.each do |user_project| %>
          <li><%= user_project.project.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="credit-card">
        <div id="card-details">
          <% if current_user.credit_card %>
            <span id = "card-number">
              xxxx xxxx xxxx <%= current_user.credit_card["last4"] %>
            </span>
            <span id="expiration">
              <%= current_user.credit_card["exp_month"] %>/<%= current_user.credit_card["exp_year"] %>
            </span>
        </div>
          <% if current_user.credit_card["brand"] == "Visa" %>
            <%= image_tag("cards/Visa-icon.png", id:"card-icon") %>
          <% elsif current_user.credit_card["brand"] == "Mastercard" %>
             <%= image_tag("cards/Master-Card--icon.png", id:"card-icon") %>
          <% elsif current_user.credit_card["brand"] == "Discover" %>
            <%= image_tag("cards/Discover-icon.ico", id:"card-icon") %>
          <% elsif current_user.credit_card["brand"] == "AmericanExpress" %>
            <%= image_tag("cards/American-Express-icon.png", id:"card-icon") %>
          <% else %>
            <%= image_tag("cards/default-card.png", id:"card-icon") %>
          <% end %>
        <% else %>
          <%= form_tag creditcard_path do %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My CC"
              data-email="<%= current_user.email %>"
              data-amount="0"
              data-currency="EUR">
            </script>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

 -->
