<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="about">
        <p class="title"><b>Piggybnk</b> is brought to you by:</p>
        <div class="person">
          <div class="person-photo">
            <%= image_tag("jobrann.png", height: 80, width: 80) %>
          </div>
          <div class="person-name">
            <p>Jobrann</p>
          </div>
        </div>

        <div class="person">
          <div class="person-photo">
            <%= image_tag("lola.jpg", height: 80, width: 80) %>
          </div>
          <div class="person-name">
            <p>Lola</p>
          </div>
        </div>

        <div class="person">
          <div class="person-photo">
            <%= image_tag("clement.jpg", height: 80, width: 80) %>
          </div>
          <div class="person-name">
            <p>Clément</p>
          </div>
        </div>

        <div class="person">
          <div class="person-photo">
            <%= image_tag("adrien.jpg", height: 80, width: 80) %>
          </div>
          <div class="person-name">
            <p>Adrien</p>
          </div>
        </div>
        <p class="title"><b>Thank you!</b></p>
      </div>
    </div>
  </div>
</div>
