<div class="container">
  <div class="row">
    <div class="col-xs-12" id="card-project-margin">
          <div class="card-project">
            <div class="flexhome">
              <div class="category-picture"><%= image_tag @project.category.photo %></div>
              <div class="card-info">
                <div class="card-title"><%= link_to @project.name, project_path(@project) %></div>
                <div class="card-date">📅 <%= @project.due_date %></div>
              </div>
            </div>
              <div class="amounts-home">
                <div class="card-amount">🎯 <%= @project.goal_amount_total_cents %>€</div>
                <div class="goal-amount-total-home"><%= @project.saved_amount_total_cents %>€ saved</div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= @project.completion_percentage %>%" aria-valuenow="<%= @project.saved_amount_total_cents %>" aria-valuemin="0" aria-valuemax="<% @project.goal_amount_total_cents %>"></div>
              </div>
          </div>
        </div>
      </div>
      <%= render 'form' %>
      <div class="col-xs-12 cards-container">
          <div class="cards">
            <%= @userproject.withdrawal_amount_total_cents %>€ <%= "you did it!" if @userproject.saved_amount_solo_cents >= @userproject.goal_amount_solo_cents %>
          </div>
          <div class="cards">
          </div>
          <div class="cards">
          </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 three-cards">
  <div class="card-project">
    <%= (@project.goal_amount_total_cents.to_f / (@project.due_date - @project.created_at.to_date).to_i).round(2) %>€
    <br><span class="focus-info-show">per day</span>
  </div>
  <div class="card-project">
    <%= (@project.saved_amount_total_cents.to_f * 100 / @project.goal_amount_total_cents).round(0) %>%
      <br><span class="focus-info-show">saved</span>
  </div>
  <div class="card-project">
    <%= (@project.due_date - Date.today).to_i %>
    <br><span class="focus-info-show">days left</span>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project">
        <div class="flexhome">
          <div class="description-show"><span class="card-title">Description</span>
          <br><%= @project.description %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project">
        <div class="flexhome">
          <div class="social-stuff">SOCIAL STUFF COMING SOON</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <br>
Group goal amount: <%= @project.goal_amount_total_cents %>€
<br>
Current solo piggy bank level (for me): <%= @userproject.saved_amount_solo_cents %>€
<br>
Current collective piggy bank level (for group): <%= @project.saved_amount_total_cents %>€
<br>
Daily piggy deposit: <%= @userproject.withdrawal_amount_total_cents %>€ <%= "you did it!" if @userproject.saved_amount_solo_cents >= @userproject.goal_amount_solo_cents %>
<br>
<%= @project.user_projects.count %> Piggy collaborators for <%= @project.name %> :
<% @project.user_projects.each do |userproject| %>
  <%= userproject.user.first_name %>
<% end %>
<br>
Current piggy bank level: <%= @userproject.saved_amount_solo_cents %>€ -->

<% if policy(@project).edit? %>
  <%= link_to edit_project_path(@project), class: "btn btn-primary" do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
<% end %>

<% if policy(@project).destroy? %>
  <%= link_to project_path(@project), method: :delete, class: "btn btn-primary" do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  <% end %>
<% end %>

