<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12" id="card-project-margin">
      <div class="card-project">
        <div class="flexhome">
          <div class="category-picture"><%= image_tag @project.category.photo %>
          </div>
          <div class="card-info">
            <div class="card-title"><%= link_to @project.name, project_path(@project) %></div>
            <div class="card-date">📅 <%= @project.due_date %></div>
          </div>
        </div>
        <div class="amounts-home">
          <div class="goal-amount-total-home"><%= humanized_money(@project.saved_amount_total) %> € saved</div>
          <div class="card-amount">🎯 <%= humanized_money(@project.goal_amount_total) %> €</div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @project.completion_percentage %>%" aria-valuenow="<%= @project.saved_amount_total_cents %>" aria-valuemin="0" aria-valuemax="<% @project.goal_amount_total_cents %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 three-cards">
      <div class="cards">
        <%= humanized_money((@project.goal_amount_total - @project.saved_amount_total) / (@project.due_date - @project.created_at.to_date).to_i) %> €
        <br><span class="focus-info-show">per day</span>
      </div>
      <div class="cards">
        <%= (@project.saved_amount_total_cents.to_f * 100.fdiv(@project.goal_amount_total_cents)).round(0) %>%
          <br><span class="focus-info-show">saved</span>
      </div>
      <div class="cards">
        <%= (@project.due_date - Date.today).to_i %>
        <br><span class="focus-info-show">days left</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project">
        <div class="flexhome">
          <div class="description-show"><span class="card-title">Description</span>
          <br><%= @project.description %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project social-board">
        <div class="card-title" id="leader-title">Leaderboard</div>
          <div class="flex-social-area">
<!--             <div class="arrival-line"> -->
              <% @project.users.each do |user| %>
              <div class="flex-test">
                <div class="goal-amount-total-home"><% saved = user.user_projects.where(project: @project).first %>
                <%= saved.saved_amount_solo_cents %>€</div>
                  <div class="rocket"><%= image_tag "rocket.png" %></div>
                  <div class="progress social vertical">
                    <div class="progress-bar-social progress-bar-info" role="progressbar" style="width: 40%;">
                    </div>
                  </div>
                <div class="avatar-social">
                  <% if user.facebook_picture_url %>
                    <span class="fb-avatar"><%= image_tag user.facebook_picture_url, class: "fb-avatar" %></span>
                  <% else %>
                    <%= image_tag "default-user.png" %>
                  <% end %>
                </div>
              </div>
              <% end %>
<!--             </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project">
        <%= link_to "Break the Bnk!", project_path(@project) %>
      </div>
    </div>
  </div>
</div>
<!-- <br>
Group goal amount: <%= @project.goal_amount_total_cents %>€
<br>
Current solo piggy bank level (for me): <%= @userproject.saved_amount_solo_cents %>€
<br>
Current collective piggy bank level (for group): <%= @project.saved_amount_total_cents %>€
<br>
Daily piggy deposit: <%= @userproject.withdrawal_amount_total_cents %>€ <%= "you did it!" if @userproject.saved_amount_solo_cents >= @userproject.goal_amount_solo_cents %>
<br>
<%= @project.user_projects.count %> Piggy collaborators for <%= @project.name %> :
<% @project.user_projects.each do |userproject| %>
  <%= userproject.user.first_name %>
<% end %>
<br>
Current piggy bank level: <%= @userproject.saved_amount_solo_cents %>€ -->

<% if policy(@project).edit? %>
  <%= link_to edit_project_path(@project), class: "btn btn-piggy" do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
<% end %>

<% if policy(@project).destroy? %>
  <%= link_to project_path(@project), method: :delete, class: "btn btn-piggy" do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  <% end %>
<% end %>

