<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project">
        <div class="flexhome">
          <div class="category-picture"><%= image_tag @project.category.photo %>
          </div>
          <div class="card-info">
            <div class="card-title"><%= link_to @project.name, project_path(@project) %></div>
            <div class="card-date">📅 <%= @project.due_date %></div>
          </div>
        </div>
        <div class="amounts-home">
          <div class="goal-amount-total-home"><%= humanized_money(@project.saved_amount_total) %> € saved</div>
          <div class="card-amount">🎯 <%= humanized_money(@project.goal_amount_total) %> €</div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @project.completion_percentage %>%" aria-valuenow="<%= @project.saved_amount_total_cents %>" aria-valuemin="0" aria-valuemax="<% @project.goal_amount_total_cents %>"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="small-cards">
        <div class="small-card">
          💶
          <br>
          <span class= "stats-number"><%= humanized_money((@project.goal_amount_total - @project.saved_amount_total) / (@project.due_date - @project.created_at.to_date).to_i) %> €</span>
          <span class="stats-description">per day</span>
        </div>
        <div class="small-card">
          👛
          <br>
          <span class= "stats-number"><%= (@project.saved_amount_total_cents.to_f * 100.fdiv(@project.goal_amount_total_cents)).round(0) %>%</span>
          <span class="stats-description">saved</span>
        </div>
        <div class="small-card">
          📅
          <br>
          <span class= "stats-number"><%= (@project.due_date - Date.today).to_i %></span>
          <span class="stats-description">days left</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project">
        <div class="flexhome">
          <div class="description-show">
            <span class="card-title">Description</span>
            <br><%= @project.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card-project social-board">
        <div class="card-title" id="leader-title">Leaderboard</div>
        <div class="finish-line">'</div>
        <div class="flex-social-area">
          <% @project.users.each do |user| %>
          <div class="flex-test">
            <div class="goal-amount-total-home"><% saved = user.user_projects.where(project: @project).first %>
              <%= money_without_cents(saved.saved_amount_solo) %> €</div>
            
                <div class="rocket"><%= image_tag "rocket.png", class: "rocket" %></div>
<!--                 <div class="progress social vertical"> -->
                  <div class="progress-bar-social progress-bar-info" role="progressbar" style="height: <%= (222 * saved.saved_amount_solo_cents).fdiv(saved.goal_amount_solo_cents) %>px;">
                  </div>
<!--                 </div> -->

              <div class="avatar-social">
                <% if user.facebook_picture_url %>
                <span class="fb-avatar"><%= image_tag user.facebook_picture_url, class: "fb-avatar" %></span>
                <% else %>
                <%= image_tag "default-user.png" %>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card-project">
          <%= render 'form' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="user-actions">
          <%= link_to "Break the Bnk!", breakbnk_project_path(@project), class: "btn btn-piggy" %>
          <% if policy(@project).edit? %>
          <%= link_to edit_project_path(@project), class: "btn btn-small" do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
          <% end %>
          <% if policy(@project).destroy? %>
          <%= link_to project_path(@project), method: :delete, class: "btn btn-small" do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <br>
Group goal amount: <%= @project.goal_amount_total_cents %>€
<br>
Current solo piggy bank level (for me): <%= @userproject.saved_amount_solo_cents %>€
<br>
Current collective piggy bank level (for group): <%= @project.saved_amount_total_cents %>€
<br>
Daily piggy deposit: <%= @userproject.withdrawal_amount_total_cents %>€ <%= "you did it!" if @userproject.saved_amount_solo_cents >= @userproject.goal_amount_solo_cents %>
<br>
<%= @project.user_projects.count %> Piggy collaborators for <%= @project.name %> :
<% @project.user_projects.each do |userproject| %>
  <%= userproject.user.first_name %>
<% end %>
<br>
Current piggy bank level: <%= @userproject.saved_amount_solo_cents %>€ -->


